body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;    
    box-sizing: border-box;
}

img {
    height: 80px;
}

h1 {
    margin-bottom: 10px;
    margin-left: 20px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    padding: 30px;
}

button {
    border-width: 3px;
    border-radius: 4px;
    border-color: black;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin: 20px;
}

input {
    margin-bottom: 1em;
}


input:disabled {
    background-color: pink;
}

:disabled {
    border-color: grey;
}

button:disabled {
    background-color: lightgray;
}

.selected {
    background-color: cadetblue;
    border-style: solid, gray, 5px;
}

#first-letter-clue {
    margin: 0;
}

#first-letter {
    margin: 0;
}

p {
    margin: 0;
}
