body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;    
    box-sizing: border-box;
}

img {
    height: 80px;
}

h1 {
    margin-bottom: 10px;
    margin-left: 20px;
}

h2 {
    color: gray;
    margin-bottom: 0px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    padding: 30px;
}

button {
    /* border-width: 3px; */
    border-radius: 4px;
    border-width: 1.5px;
    border-style: solid;
    /* border-color: black; */
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

input {
    margin-bottom: 1em;
}


input:disabled {
    opacity: 0.4;
    border-radius: 2px;
}

:disabled {
    border-color: grey;
}

button:disabled {
    background-color: lightgray;
}

.selected {
    background-color: cadetblue;
    border-style: solid, gray, 5px;
}

#first-letter-clue {
    margin: 0;
}

#first-letter {
    margin: 0;
}

p {
    margin: 0;
}

.unselected {
    opacity: 0.4;
}

#fish-button,
#fruit-button,
#flower-button {
    border-width: 3px;
    border-color: black;
}

.guessField {
    padding: 5px;
}

.guessResponses {
    font-weight: bolder;
}
